<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InterfazHda.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <userSettings>
        <InterfazHda.Properties.Settings>
            <setting name="url_ws" serializeAs="String">
                <value>https://servicios.electricaribe.com/irregularidades_services/IrregularidadesService</value>
            </setting>
            <setting name="user_ws" serializeAs="String">
                <value>sintegrales</value>
            </setting>
            <setting name="pass_ws" serializeAs="String">
                <value>sintegrales1808</value>
            </setting>
            <setting name="url_hda" serializeAs="String">
                <value>http://hgiservice.herramientasgnf.com:8080/rest/</value>
            </setting>
            <setting name="user_hda" serializeAs="String">
                <value>hgi</value>
            </setting>
            <setting name="pass_hda" serializeAs="String">
                <value>hgi</value>
            </setting>
            <setting name="url_hda_docu" serializeAs="String">
                <value>http://hda.herramientasgnf.com:8080/rest/serviceorder/</value>
            </setting>
            <setting name="url_hda_fotos" serializeAs="String">
                <value>http://hgiservice.herramientasgnf.com:8080/api/media/</value>
            </setting>
            <setting name="url_hda_firma" serializeAs="String">
                <value>http://hgiservice.herramientasgnf.com:8080/api/signatures/</value>
            </setting>
            <setting name="dir_imagenes" serializeAs="String">
                <value>C:\inetpub\wwwroot\HGI2\File\Documentos</value>
            </setting>
            <setting name="conexion" serializeAs="String">
                <value>integrated security=SSPI;data source=WIN-9L0BNLD7OU9\\SQLEXPRESS;persist security info=False;initial catalog=BDHGI2</value>
            </setting>
        </InterfazHda.Properties.Settings>
    </userSettings>
</configuration>